<app-encabezado></app-encabezado>
<h3>
  Nuevo Restaurante
</h3>


<form
 [formGroup]="restauranteForm"
 (ngSubmit)="!restauranteForm.invalid && crearRestaurante(restauranteForm.value)"
>
  <div class="row">
    <div class="col col-">
      <!--Nombre-->
      <div class="form-group mx-sm-3 mb-2">
        <label for="nombre">Nombre</label>
        <input
          novalidate
          id="nombre"
          class="form-control"
          formControlName="nombre"
          placeholder="Nombre"
        />
        <div
          class="alert alert-danger alert-dismissible fade show"
          *ngIf="
            restauranteForm.get('nombre')!.hasError('required') &&
            restauranteForm.get('nombre')!.touched
          "
        >
          Contenido requerido
        </div>
        <div
          class="alert alert-danger alert-dismissible fade show"
          *ngIf="restauranteForm.get('nombre')!.hasError('minlength')"
        >
          El contenido es muy corto, debe tener al menos dos caracteres.
        </div>
      </div>

      <!--Direccion-->
      <div class="form-group mx-sm-3 mb-2">
        <label for="direccion">Direccion</label>
        <input
          novalidate
          id="direccion"
          class="form-control"
          formControlName="direccion"
          placeholder="Direccion del restaurante"
        />
        <div
          class="alert alert-danger alert-dismissible fade show"
          *ngIf="
            restauranteForm.get('direccion')!.hasError('required') &&
            restauranteForm.get('direccion')!.touched
          "
        >
          Contenido requerido
        </div>
        <div
          class="alert alert-danger alert-dismissible fade show"
          *ngIf="restauranteForm.get('direccion')!.hasError('minlength')"
        >
          El contenido es muy corto, debe tener al menos dos caracteres.
        </div>
      </div>

      <!--Telefono-->
      <div class="form-group mx-sm-3 mb-2">
        <label for="telefono">Telefono</label>
        <input
          novalidate
          id="telefono"
          class="form-control"
          formControlName="telefono"
          placeholder="telefono del restaurante"
        />
        <div
          class="alert alert-danger alert-dismissible fade show"
          *ngIf="
            restauranteForm.get('telefono')!.hasError('required') &&
            restauranteForm.get('telefono')!.touched
          "
        >
          Contenido requerido
        </div>
        <div
          class="alert alert-danger alert-dismissible fade show"
          *ngIf="restauranteForm.get('telefono')!.hasError('minlength')"
        >
          El contenido es muy corto, debe tener al menos dos caracteres.
        </div>
      </div>

      <div class="subtitulo">
         Redes Sociales
      </div>
      <div class="redes-sociales">
        <!--Facebook-->
        <div class="form-group mx-sm-3 mb-2">
          <label for="facebook">Facebook</label>
          <input
            novalidate
            id="facebook"
            class="form-control"
            formControlName="facebook"
            placeholder="URL de Facebook"
          />
          <div
            class="alert alert-danger alert-dismissible fade show"
            *ngIf="
              restauranteForm.get('facebook')!.hasError('required') &&
              restauranteForm.get('facebook')!.touched
            "
          >
            Contenido requerido
          </div>
          <div
            class="alert alert-danger alert-dismissible fade show"
            *ngIf="restauranteForm.get('facebook')!.hasError('minlength')"
          >
            El contenido es muy corto, debe tener al menos dos caracteres.
          </div>
        </div>

        <!--Twitter-->
        <div class="form-group mx-sm-3 mb-2">
          <label for="twitter">Twitter</label>
          <input
            novalidate
            id="twitter"
            class="form-control"
            formControlName="twitter"
            placeholder="URL de Twitter"
          />
          <div
            class="alert alert-danger alert-dismissible fade show"
            *ngIf="
              restauranteForm.get('twitter')!.hasError('required') &&
              restauranteForm.get('twitter')!.touched
            "
          >
            Contenido requerido
          </div>
          <div
            class="alert alert-danger alert-dismissible fade show"
            *ngIf="restauranteForm.get('twitter')!.hasError('minlength')"
          >
            El contenido es muy corto, debe tener al menos dos caracteres.
          </div>
        </div>

        <!--Instagram-->
        <div class="form-group mx-sm-3 mb-2">
          <label for="instagram">Instagram</label>
          <input
            novalidate
            id="instagram"
            class="form-control"
            formControlName="instagram"
            placeholder="URL de Instagram"
          />
          <div
            class="alert alert-danger alert-dismissible fade show"
            *ngIf="
              restauranteForm.get('instagram')!.hasError('required') &&
              restauranteForm.get('instagram')!.touched
            "
          >
            Contenido requerido
          </div>
          <div
            class="alert alert-danger alert-dismissible fade show"
            *ngIf="restauranteForm.get('instagram')!.hasError('minlength')"
          >
            El contenido es muy corto, debe tener al menos dos caracteres.
          </div>
        </div>

      </div>

      <!--Horarios-->
      <div class="form-group mx-sm-3 mb-2">
        <label for="hora_atencion">Horarios en que abre</label>
        <input
          novalidate
          id="hora_atencion"
          class="form-control"
          formControlName="hora_atencion"
          placeholder="Horarios en que abre el restaurante"
        />
        <div
          class="alert alert-danger alert-dismissible fade show"
          *ngIf="
            restauranteForm.get('hora_atencion')!.hasError('required') &&
            restauranteForm.get('hora_atencion')!.touched
          "
        >
          Contenido requerido
        </div>
        <div
          class="alert alert-danger alert-dismissible fade show"
          *ngIf="restauranteForm.get('hora_atencion')!.hasError('minlength')"
        >
          El contenido es muy corto, debe tener al menos dos caracteres.
        </div>
      </div>

      <div class="subtitulo">
          Opciones para consumir

          <div class="form-check">
            <input class="form-check-input" formControlName="is_en_lugar" type="checkbox" value="" id="is_en_lugar">
            <label class="form-check-label" for="is_en_lugar">
              Comer en el lugar
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" formControlName="is_domicilios" type="checkbox" value="" id="is_domicilios">
            <label class="form-check-label" for="is_domicilios">
              A domicilio
            </label>
          </div>
      </div>




      <!--TipoComida-->
      <div class="form-group mx-sm-3 mb-2">
        <label for="tipo_comida">Tipo de comida</label>
        <input
          novalidate
          id="tipo_comida"
          class="form-control"
          formControlName="tipo_comida"
          placeholder="Tipo de comida del restaurante"
        />
        <div
          class="alert alert-danger alert-dismissible fade show"
          *ngIf="
            restauranteForm.get('tipo_comida')!.hasError('required') &&
            restauranteForm.get('tipo_comida')!.touched
          "
        >
          Contenido requerido
        </div>
        <div
          class="alert alert-danger alert-dismissible fade show"
          *ngIf="restauranteForm.get('tipo_comida')!.hasError('minlength')"
        >
          El contenido es muy corto, debe tener al menos dos caracteres.
        </div>
      </div>

      <div class="subtitulo">
        Aplicaciones asociadas

        <div class="form-check">
          <input class="form-check-input" type="checkbox" formControlName="is_rappi" value="" id="is_rappi">
          <label class="form-check-label" for="is_rappi">
            Rappi
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" formControlName="is_didi" value="" id="is_didi">
          <label class="form-check-label" for="is_didi">
            DiDi
          </label>
        </div>
      </div>



    </div>
  </div>
  <br />
  <button type="submit" class="btn btn-primary" [disabled]="!restauranteForm.valid">Crear</button>&nbsp;
  <button type="button" class="btn btn-danger ml-3" (click)="cancelarRestaurante()">Cancelar</button>
</form>
