<app-encabezado></app-encabezado>
<div class="row">
  <div class="col col-6">
    <div class="container-table">
      <div class="header-tabla-chefs">
          Chefs
      </div>

      <ng-container *ngIf="chefs.length === 0; else chefTable">
        <p>Aun no se ha creado ningún chef</p>
      </ng-container>

      <ng-container *ngIf="error !== undefined">
        <p>Solo los administradores pueden ver los chefs</p>
      </ng-container>

      <ng-template #chefTable>
        <table class="tabla-chefs">
          <thead>
            <th>Nombre</th>
            <th>Restaurante</th>
            <th>Acciones</th>
          </thead>
          <tbody>
            <tr *ngFor="let chef of chefs">
              <td>{{chef.nombre}}</td>
              <td>{{chef.restaurante.nombre}}</td>
              <td>
                <button [disabled]="false" type="button" class="btn btn-warning"><i class="bi bi-pencil"></i></button>&nbsp;
                <button [disabled]="false" type="button" class="btn btn-danger"><i class="bi bi-trash"></i></button>
              </td>
            </tr>
          </tbody>
        </table>

      </ng-template>

      <div class="footer-tabla-chefs">
        <button type="button" class="btn btn-primary" (click)="crearChef()">Crear chef</button>
      </div>
</div>
